<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LocalTestSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LocalTestSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="LocalTestSystem.Properties.Settings.VtiDataConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VtiData;Persist Security Info=True;User ID=vtiuser;Password=vtiuser"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<applicationSettings>
		<LocalTestSystem.Properties.Settings>
   <setting name="DebugMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DualPortSystem" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PortNames" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>Blue Port</string>
      <string>White Port</string>
      <string>Red Port</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="PortColors" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>White,Blue</string>
      <string>Blue,White</string>
      <string>Yellow,Red</string>
     </ArrayOfString>
    </value>
   </setting>
  </LocalTestSystem.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<LocalTestSystem.Properties.Settings>
   <setting name="CallUpgrade" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CallUpgradeDataplot" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SequenceGoodColor" serializeAs="String">
    <value>LawnGreen</value>
   </setting>
   <setting name="SequenceBadColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="SequenceTestingColor" serializeAs="String">
    <value>Yellow</value>
   </setting>
  </LocalTestSystem.Properties.Settings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
