<?xml version="1.0" encoding="utf-8" ?>
<MccConfig>
	<AnalogBoards>
		<AnalogBoard>
			<BoardNum>10</BoardNum>
			<NumberOfBits>16</NumberOfBits>
			<AnalogOutputs> <!-- Fake Analog Outputs to PLC -->
				<AnalogChannel>
					<Name>PrimaryFlowmeterStartCounts</Name>
					<Channel>3</Channel>
					<!--Fake Analog Output (no analog output card on PLC), DS23 on PLC-->
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>PrimaryFlowmeterStartCounts2</Name>
					<Channel>4</Channel>
					<!--Fake Analog Output (no analog output card on PLC), DS24 on PLC-->
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>PrimaryFlowmeterStopCounts</Name>
					<Channel>5</Channel>
					<!--Fake Analog Output (no analog output card on PLC), DS25 on PLC-->
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>SecondaryFlowmeterStartCounts</Name>
					<Channel>6</Channel>
					<!--Fake Analog Output (no analog output card on PLC), DS26 on PLC-->
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>SecondaryFlowmeterStartCounts2</Name>
					<Channel>7</Channel>
					<!--Fake Analog Output (no analog output card on PLC), DS27 on PLC-->
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>SecondaryFlowmeterStopCounts</Name>
					<Channel>8</Channel>
					<!--Fake Analog Output (no analog output card on PLC), DS28 on PLC-->
					<Range>Uni10Volts</Range>
				</AnalogChannel>
			</AnalogOutputs>
			<AnalogInputs>
				<AnalogChannel>
					<Name>IPADDRESS:192.168.0.10</Name>
					<Channel>0</Channel>
					<NumberOfSamples>40</NumberOfSamples>
					<NumberOfMovingAverages>5</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>PVEDegasManifold100PSIGSensorVolts</Name>
					<Channel>11</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>POEDegasManifold100PSIGSensorVolts</Name>
					<Channel>15</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<!--Fake Analog Input, used to read DF5 from PLC-->
					<Name>PrimaryCoolantCounterVolts</Name>
					<Channel>5</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<!--Fake Analog Input, used to read DF6 from PLC-->
					<Name>PrimaryCoolantCounterStopVolts</Name>
					<Channel>6</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<!--Fake Analog Input, used to read DF7 from PLC-->
					<Name>PrimaryCoolantCounterCompleteVolts</Name>
					<Channel>7</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<!--Fake Analog Input, used to read DF8 from PLC-->
					<Name>SecondaryCoolantCounterVolts</Name>
					<Channel>8</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<!--Fake Analog Input, used to read DF9 from PLC-->
					<Name>SecondaryCoolantCounterStopVolts</Name>
					<Channel>9</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<!--Fake Analog Input, used to read DF10 from PLC-->
					<Name>SecondaryCoolantCounterCompleteVolts</Name>
					<Channel>10</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
			</AnalogInputs>
		</AnalogBoard>
	</AnalogBoards>
	<DigitalBoards>
		<DigitalBoard>
			<BoardNum>10</BoardNum>
			<InvertedLogic>false</InvertedLogic>
			<DigitalPorts>
				<DigitalPort>
					<DigitalPortType>AuxPort</DigitalPortType>
					<DigitalPortDirection>DigitalIn</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>MCRPower</Name>
							<Description>X001 - Power Sense 24VDC</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>Acknowledge1</Name>
							<Description>X002 - Acknowledge</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEFlowMeter</Name>
							<Description>X003 - PVE Flow Meter Pulse</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEFlowMeter</Name>
							<Description>X004 - POE Flow Meter Pulse</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>AuxPort</DigitalPortType>
					<DigitalPortDirection>DigitalOut</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>PVEVacuumPumpEnable</Name>
							<Description>Y001 - PVE Vacuum Pump Enable</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEOilRecircPumpEnable</Name>
							<Description>Y002 - PVE Oil Recirculation Pump Enable</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEOilFilIsoValve</Name>
							<Description>Y003 - PVE Oil Fill ISO Valve</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEVacuumPumpEnable</Name>
							<Description>Y004 - POE Vacuum Pump Enable</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEOilRecircPumpEnable</Name>
							<Description>Y005 - POE Oil Recirculation Pump Enable</Description>
							<Bit>4</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEOilFilIsoValve</Name>
							<Description>Y006 - POE Oil Fill ISO Valve</Description>
							<Bit>5</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>FirstPortA</DigitalPortType>
					<DigitalPortDirection>DigitalOut</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>PVEOilDrumSupplyValve</Name>
							<Description>Y101 - PVE Oil Drum Supply Valve</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEDegasRecircValve</Name>
							<Description>Y102 - PVE Degas Recirculation Valve</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEDegasOutletValve</Name>
							<Description>Y103 - PVE Degas Outlet Valve</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEDegasEvacuationValve</Name>
							<Description>Y104 - PVE Degas Evacuation Valve</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEDegasRateOfRiseValve</Name>
							<Description>Y105 - PVE Degas Rate-Of-Rise Valve</Description>
							<Bit>4</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEFeedTankFillValve</Name>
							<Description>Y106 - PVE Feed Tank Fill Valve</Description>
							<Bit>5</Bit>
						</DigitalPortBit>
						</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>FirstPortB</DigitalPortType>
					<DigitalPortDirection>DigitalOut</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>POEOilDrumSupplyValve</Name>
							<Description>Y109 - POE Oil Drum Supply Valve</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEDegasRecircValve</Name>
							<Description>Y110 - POE Degas Recirculation Valve</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEDegasOutletValve</Name>
							<Description>Y111 - POE Degas Outlet Valve</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEDegasEvacuationValve</Name>
							<Description>Y112 - POE Degas Evacuation Valve</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEDegasRateOfRiseValve</Name>
							<Description>Y113 - POE Degas Rate-Of-Rise Valve</Description>
							<Bit>4</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEFeedTankFillValve</Name>
							<Description>Y114 - POE Feed Tank Fill Valve</Description>
							<Bit>5</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>SecondPortA</DigitalPortType>
					<DigitalPortDirection>DigitalOut</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>LightPVEGreen</Name>
							<Description>Y201 - Light PVE Green</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>LightPVEAmber</Name>
							<Description>Y202 - Light PVE Amber</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>LightPVERed</Name>
							<Description>Y203 - Light PVE Red</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>SecondPortB</DigitalPortType>
					<DigitalPortDirection>DigitalOut</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>LightPOEGreen</Name>
							<Description>Y209 - Light POE Green</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>LightPOEAmber</Name>
							<Description>Y210 - Light POE Amber</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>LightPOERed</Name>
							<Description>Y211 - Light POE Red</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>ThirdPortA</DigitalPortType>
					<DigitalPortDirection>DigitalIn</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>PVEDegasTankLowLevelSensor</Name>
							<Description>X301 - PVE Degas Tank Low Level Sensor</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEDegasTankHighLevelSensor</Name>
							<Description>X302 - PVE Degas Tank High Level Sensor</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEDegasTankTopLevelSensor</Name>
							<Description>X303 - PVE Degas Tank Top Level Sensor</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>PVEVacuumPumpOilLevelOK</Name>
							<Description>X304 - PVE Vacuum Pump Oil Level OK</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>ThirdPortB</DigitalPortType>
					<DigitalPortDirection>DigitalIn</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>POEDegasTankLowLevelSensor</Name>
							<Description>X309 - POE Degas Tank Low Level Sensor</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEDegasTankHighLevelSensor</Name>
							<Description>X310 - POE Degas Tank High Level Sensor</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEDegasTankTopLevelSensor</Name>
							<Description>X311 - POE Degas Tank Top Level Sensor</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>POEVacuumPumpOilLevelOK</Name>
							<Description>X312 - POE Vacuum Pump Oil Level OK</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
			</DigitalPorts>
		</DigitalBoard>
	</DigitalBoards>
</MccConfig>