<?xml version="1.0" encoding="utf-8" ?>
<MccConfig>
	<AnalogBoards>
		<AnalogBoard>
			<BoardNum>10</BoardNum>
			<NumberOfBits>16</NumberOfBits>
			<AnalogInputs>
				<AnalogChannel>
					<Name>IPADDRESS:192.168.0.10</Name>
					<Channel>0</Channel>
					<NumberOfSamples>40</NumberOfSamples>
					<NumberOfMovingAverages>5</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>CDG10TorrPressureSensorVolts</Name>
					<Channel>19</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
				<AnalogChannel>
					<Name>VacuumManifold100PSIGTransducerVolts</Name>
					<Channel>12</Channel>
					<NumberOfSamples>100</NumberOfSamples>
					<NumberOfMovingAverages>10</NumberOfMovingAverages>
					<Range>Uni10Volts</Range>
				</AnalogChannel>
			</AnalogInputs>
		</AnalogBoard> 
	</AnalogBoards>
	<DigitalBoards>
		<DigitalBoard>
			<BoardNum>10</BoardNum>
			<InvertedLogic>false</InvertedLogic>
			<DigitalPorts>
				<DigitalPort>
					<DigitalPortType>AuxPort</DigitalPortType>
					<DigitalPortDirection>DigitalIn</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>MCRPower</Name>
							<Description>X001 - 24VDC SENSE</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>Acknowledge</Name>
							<Description>X002 - Acknowledge</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>FlowmeterCounts</Name>
							<Description>X003 - Flowmeter Counts</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>AuxPort</DigitalPortType>
					<DigitalPortDirection>DigitalOut</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>VacuumPumpEnable</Name>
							<Description>Y001 - Vacuum Pump Enable</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>OilRecircPumpEnable</Name>
							<Description>Y002 - Oil Recirculation Pump Air Enable</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>BlowerEnable</Name>
							<Description>Y003 - Blower Pump Enable</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>FirstPortA</DigitalPortType>
					<DigitalPortDirection>DigitalOut</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>PumpDrainIntakeValve</Name>
							<Description>Y101 - Intake Valve from Customer Vacuum Pump Drain Port</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>RecoveryOutletValve</Name>
							<Description>Y102 - Recovery Tank Outlet Valve</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>MakeupIntakeValve</Name>
							<Description>Y103 - Makeup Oil Intake Valve</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>SupplyOutletValve</Name>
							<Description>Y104 - Supply Tank Outlet Valve</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>BlowerRORValve</Name>
							<Description>Y105 - Blower Rate of Rise Valve</Description>
							<Bit>4</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>SupplyRecircValve</Name>
							<Description>Y106 - Supply Tank Recirculation Valve</Description>
							<Bit>5</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>OilFillValve</Name>
							<Description>Y107 - Outlet Valve to Customer Vacuum Pump Oil Fill Port</Description>
							<Bit>6</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>SupplyVacuumValve</Name>
							<Description>Y108 - Supply Tank Vacuum Valve</Description>
							<Bit>7</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>FirstPortB</DigitalPortType>
					<DigitalPortDirection>DigitalOut</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>RecoveryVacuumValve</Name>
							<Description>Y109 - Recovery Tank Vacuum Valve</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>LightGreen</Name>
							<Description>Y111 - Green Light</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>LightAmber</Name>
							<Description>Y112 - Amber Light</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>LightRed</Name>
							<Description>Y113 - Red Light</Description>
							<Bit>4</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>SecondPortA</DigitalPortType>
					<DigitalPortDirection>DigitalIn</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>RecoveryTankLowLevelSensor</Name>
							<Description>X201 - Recovery Tank Low Level Sensor</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>RecoveryTankHighLevelSensor</Name>
							<Description>X202 - Recovery Tank High Level Sensor</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>RecoveryTankTopLevelSensor</Name>
							<Description>X203 - Recovery Tank Top Level Sensor</Description>
							<Bit>2</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>SupplyTankLowLevelSensor</Name>
							<Description>X204 - Supply Tank Low Level Sensor</Description>
							<Bit>3</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>SupplyTankHighLevelSensor</Name>
							<Description>X205 - Supply Tank High Level Sensor</Description>
							<Bit>4</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>SupplyTankTopLevelSensor</Name>
							<Description>X206 - Supply Tank Top Level Sensor</Description>
							<Bit>5</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>VacuumPumpOilLevelSensor</Name>
							<Description>X207 - Vacuum Pump Oil Level Sensor</Description>
							<Bit>6</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>BlowerPowerSense</Name>
							<Description>X208 - Blower Power Sense</Description>
							<Bit>7</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
				<DigitalPort>
					<DigitalPortType>SecondPortB</DigitalPortType>
					<DigitalPortDirection>DigitalIn</DigitalPortDirection>
					<DigitalPortBits>
						<DigitalPortBit>
							<Name>FillButton</Name>
							<Description>X209 - Fill Button</Description>
							<Bit>0</Bit>
						</DigitalPortBit>
						<DigitalPortBit>
							<Name>DrainButton</Name>
							<Description>X210 - Drain Button</Description>
							<Bit>1</Bit>
						</DigitalPortBit>
					</DigitalPortBits>
				</DigitalPort>
			</DigitalPorts>
		</DigitalBoard>
	</DigitalBoards>
</MccConfig>