<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VTIWindowsControlLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VTIWindowsControlLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VtiDataEntities" connectionString="metadata=res://*/Data.VtiDataModel.csdl|res://*/Data.VtiDataModel.ssdl|res://*/Data.VtiDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\VtiData.mdf';Integrated Security=sspi;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="VTIWindowsControlLibrary.Properties.Settings.VtiDataConnectionString2"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VtiData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VTIWindowsControlLibrary.Properties.Settings.VtiDataConnectionString"
      connectionString="Data Source=VAC-QOSIDEV;Initial Catalog=VtiData;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="VTIWindowsControlLibrary.Properties.Settings.VtiDataConnectionString1"
      connectionString="Data Source=VAC-QOSIDEV;Initial Catalog=VtiData;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <VTIWindowsControlLibrary.Properties.Settings>
      <setting name="EventViewerColorInformation" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="EventViewerColorWarning" serializeAs="String">
        <value>255, 255, 192</value>
      </setting>
      <setting name="EventViewerColorError" serializeAs="String">
        <value>LightSalmon</value>
      </setting>
      <setting name="OpFormSingleHorizSplitter" serializeAs="String">
        <value>253</value>
      </setting>
      <setting name="OpFormSingleVertSplitter" serializeAs="String">
        <value>196</value>
      </setting>
      <setting name="OpFormSingleCommandControlVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormSingleFlowRateIndicatorVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormSingleSystemSignalsVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormSingleTestHistoryIsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormSingleValvesPanelIsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormSingleDataPlotIsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormSingleTestHistoryX" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="OpFormSingleTestHistoryY" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="OpFormSingleValvesPanelX" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="OpFormSingleValvesPanelY" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="OpFormSingleTestHistoryVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualHorizSplitter1" serializeAs="String">
        <value>330</value>
      </setting>
      <setting name="OpFormDualHorizSplitter2" serializeAs="String">
        <value>330</value>
      </setting>
      <setting name="OpFormDualCommandControl1Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualCommandControl2Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualSystemSignals1Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualSystemSignals2Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualTestHistory1IsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualTestHistory2IsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualValvesPanel1IsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualValvesPanel2IsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualDataPlot1IsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualDataPlot2IsDocked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpFormDualTestHistory1X" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="OpFormDualTestHistory1Y" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="OpFormDualTestHistory2X" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="OpFormDualTestHistory2Y" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="OpFormDualValvesPanel1X" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="OpFormDualValvesPanel1Y" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="OpFormDualValvesPanel2X" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="OpFormDualValvesPanel2Y" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="SequenceGoodColor" serializeAs="String">
        <value>LawnGreen</value>
      </setting>
      <setting name="SequenceBadColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SequenceTestingColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpFormSingleValvesPanelVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SystemSignalCaptionFont" serializeAs="String">
        <value>Microsoft Sans Serif, 13.875pt</value>
      </setting>
      <setting name="SystemSignalPanelWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SystemSignalValueFont" serializeAs="String">
        <value>Microsoft Sans Serif, 12pt</value>
      </setting>
      <setting name="UsesVtiDataDatabase" serializeAs="String">
        <value>True</value>
      </setting>
    </VTIWindowsControlLibrary.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <VTIWindowsControlLibrary.Properties.Settings>
      <setting name="SortCommonEditCycleParams" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VerifyLocalVtiDataConfiguration" serializeAs="String">
        <value>False</value>
      </setting>
    </VTIWindowsControlLibrary.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
